body {
    background-image: url("cool2.jpg");
}
#theNav {
    text-align: center;
    justify-content: center;
}

#forecast, h4 {
    text-decoration-color: aliceblue;
    color: aliceblue;
}

#header {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}